<!DOCTYPE html>
<html>
  <head>
  <title>Tip bonzaimonkee🐒🍌</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    {{ head_content }}
    <link rel="icon" type="image/x-icon" href="https://www.jotform.com/uploads/bonzaiswag/form_files/unnamed%20(2).6245a671804f72.82860843.jpg">
    </head>
   
   <header>
      <div class="wrapper">
        <nav class="header-nav" role="navigation" aria-label="Main">
          <ul>
            <li{% if page.full_url contains '/products' or page.full_url contains '/products/' or page.full_url contains '/category/' or page.full_url contains '/artist/' %} class="selected"{% endif %}><a href="/">{{ "farted" }}</a></li>
            {% for page in pages.all limit:theme.nav_items %}
              <li{% if page.full_url contains page.url %} class="selected"{% endif %}>{{ page | link_to }}</li>
            {% endfor %}
            
            <li{% if page.full_url contains '/cart' %} class="selected"{% endif %}><a href="/cart">Cart</a></li>
          </ul>
        </nav>

        
      <nav class="header-nav mobile-nav" aria-label="Mobile Main" role="navigation">
        <ul>
          <li{% if page.full_url contains '/products' or page.full_url contains '/products/' or page.full_url contains '/category/' or page.full_url contains '/artist/' %} class="selected"{% endif %}>
            <a href="/products">{{ "farted" }}</a>
          </li>
          {% for page in pages.all limit:theme.nav_items %}
              <li{% if page.full_url contains page.url %} class="selected"{% endif %}>{{ page | link_to }}</li>
            {% endfor %}
          <li{% if page.full_url contains '/cart' %} class="selected"{% endif %}>
            <a href="/cart">Cart</a>
          </li>
        </ul>
      </nav>
    </header>
  <main class="main" id="main">
      <div class="fade-in wrapper">
        {% if errors != blank %}
          <ul class="errors {{ page.permalink }}-errors">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if page.category == 'custom' %}
          <div class="custom-page">
  
            <div class="custom-page-content">{{ page_content | paragraphs }}</div>
          </div>
        {% else %}
          {{ page_content }}
        {% endif %}
      </div>
    </main>
  <body>
      <p align="center">
        <a href="https://www.bonzailamar.com/">
        <img style="height:200px;" class="thumbnail" src="https://assets.bigcartel.com/theme_images/85504753/BonzaiLamar+bonzaimonkee.gif">
        </a>
        </p>
 <p align="center"> <iframe style ="height:720px;width:100%;border:none; margin-bottom: -60px;" src='https://forms.zohopublic.com/bonzaiswag/form/Bonzaimonkeetipping/formperma/HNsOCQbadnWgrmTIU05w7Nn84WfSX9qkA8djTm7HUwU'  frameBorder="0" scrolling="no"></iframe>
 </p>
    <a align="center" href ="https://stripe.com/docs/security">
      <img width=360 height =120 src="https://paymentsplugin.com/assets/blog-images/stripe-badge-transparent.png" class="center">
      </a>
      <a align="center">
      <img style="margin-top:100px; margin-bottom:80px;" width=360 src="https://www.dropbox.com/s/mfrlocv6kv7e7bs/Image13.png?dl=1" class="center">
        </a>
    <p align="center"></p>
  </body>
  <style>
body {
  background-image: url('https://assets.bigcartel.com/theme_images/85499641/webbackgr.PNG?w=300&h=300&fit=clip');
}
</style>
</html>